@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.register{
    height: 100vh;
    background-color: rgb(193, 190, 255);
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
        display: flex;
        flex-direction: row-reverse;
        width: 50%;
        background-color: white;
        border-radius: 10px;
        min-height: 500px;
        overflow: hidden;
        
        .left{
            flex: 1;
            background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)), url(social19.jpg) center; 
            background-size: cover;
            padding: 35px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;

            h1{
                font-size: 100px;
                line-height: 100px;
            }
            p{
                font-size: 20px;
            }
            span{
                font-size: 14px;
            }
            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: white;
                color: rebeccapurple;
                font-weight: bold;
                cursor: pointer;
            }
        }

        .right{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            padding: 50px;
            h1{
                color: #555;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;

                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                    outline: none;
                }
                button{
                    border: none;
                    padding: 10px;
                    background-color: #938eef;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
            
        }
    }
}