@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "../../../style.scss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.navbar{
    @include themify ($themes) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        height: 50px;
        border-bottom: 1px solid themed("border");
        position: sticky;
        top: 0;
        background-color: themed("backgroundColor");
        color: themed("textColor");
        z-index: 999;

        .left{
            display: flex;
            align-items: center;
            gap: 30px;

            span{
                font-weight: bold;
                font-size: 20px;
                color: themed("logoColor");
            }

            .search{
                display: flex;
                align-items: center;
                gap: 10px;
                border: 1px solid themed("border");
                padding: 5px;
                border-radius: 5px;

                input{
                    border: none;
                    outline: none;
                    width: 100%;
                    background-color: transparent;
                    color: themed("textColor");

                    @include mobile {
                        display: none;
                    }
                }
            }
        }

        .right{
            display: flex;
            align-items: center;
            gap: 20px;

            @include mobile {
                display: none;
            }

            .user{
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;

                img{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                span{
                    color: themed("textColorSoft");
                }

                @include tablet {
                    display: none;
                }

                @include tablet-landscape{
                    display: none;
                }
            }
        }
    }    
}